# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
on boot
    chown system system /sys/devices/virtual/display/disp_param/disp_param
    chmod 0660 /sys/devices/virtual/display/disp_param/disp_param

on property:persist.lcd.hbm_mode=0
    write /sys/devices/virtual/display/disp_param/disp_param "0xa0000"

on property:persist.lcd.hbm_mode=1
    write /sys/devices/virtual/display/disp_param/disp_param "0xb0000"

on property:persist.lcd.hbm_mode=2
    write /sys/devices/virtual/display/disp_param/disp_param "0xc0000"

on property:persist.lcd.hbm_mode=3
    write /sys/devices/virtual/display/disp_param/disp_param "0xd0000"

on property:persist.lcd.cabc_mode=0
    write /sys/devices/virtual/display/disp_param/disp_param "0x400"

on property:persist.lcd.cabc_mode=1
    write /sys/devices/virtual/display/disp_param/disp_param "0x100"

on property:persist.lcd.cabc_mode=2
    write /sys/devices/virtual/display/disp_param/disp_param "0x200"

on property:persist.lcd.cabc_mode=3
    write /sys/devices/virtual/display/disp_param/disp_param "0x300"
